<div class="row">
<div class="col-md-8">
<h1>Hi <%=@user.username%>!</h1>
<div class="buttons-white-font">
	<button class="btn btn-primary"><%= link_to("Click here to see your posts", user_posts_path(@user.id) )%></button>
</div>
</div>

<!--In the same div of posts button-->
<div class="revisions">
	

</div>

<div class="col-md-4">

<% if @number_pending_requests > 0 %>
<div class="alert alert-danger col-md-10" role="alert"><strong>The number of pending requests is <%= @number_pending_requests%></strong></div>

<br>
<br>
<br>
<br>


	<%@user_requests.each do |request| %>

		<% if request.status_request == false %>
			<p style="display:inline">Request from <strong><%= User.show_username_by_request(request.editor_id)%></strong></p>
			<p> to edit <%= Post.find_by(id: request.post_id).title%></p>
			

			<%= form_for request, method: :patch do |f| %>
				<%= f.hidden_field :id, :value => request.id %>
				<%= f.submit "Accept", :class => 'btn btn-success pull-left col-md-5' %>
			<% end %>
			
			<%= form_for request, method: :delete do |f| %>
				<%= f.hidden_field :id, :value => request.id %>
				<%= f.submit "Reject", :class => 'btn btn-danger pull-left col-md-5' %>
			<% end %>
			<br>
			<br>
			<% end %>
		<% end %>
	
<% end %>

<% if @number_pending_requests == 0 %>
<div class="alert alert-success col-md-10" role="alert"><strong>You have no requests</strong></div>
<% end %>

</div>
</div>