<div class="col-md-2">
<div style="padding-top: 100px;">
	<%=link_to( "Original Post", user_post_path(@post_of_revision.user.id,@post_of_revision.id ) )%>
	
	
</div>
</div>



<div class="col-md-7" style="word-wrap: break-word; margin-bottom: 100px;">
<h1><%= @revision.title%></h1>

<p class="date"><%= time_ago_in_words(@revision.created_at)%> ago</p>

<p><%= simple_format(@revision.content) %></p>

<% if current_user%>
	<% if @user.id == current_user.id%>
		<div class="buttons-white-font">
			<button class="btn btn-warning col-md-3"><%= link_to("Edit this revision", edit_revision_path(@revision.id)) %></button>
			<br>
			<br>
	
	<button class="btn btn-danger col-md-3"><%= link_to("Delete this revision", revision_path(@user, @revision), method: :delete, data: { confirm: "Are you sure you want to delete this revision?"}) %></button>
	<br>
	<br>
	</div>
	<% end %>
	
	<button class="btn btn-warning col-md-5 diffs-btn">Check the diffs with the original post</button>
	
<% end %>
</div>

<!-- Pokemon modal view (hidden at first) -->
<div class="modal fade diffs-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>

        <h3 class="modal-title" style="margin-left:40px;">
          <%=@post_of_revision.title%>
        </h3>
      </div><!-- .modal-header -->

      <div class="modal-body" style="word-wrap: break-word;>
        <dl class="dl-horizontal">



        <%=	@diffy.html_safe%>

          
        </dl>
      </div><!-- .modal-body -->

    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .modal -->