<script type="text/javascript">
	var user_id = <%= raw @user.id %>;
</script>

<div class="row">
<div class="col-md-10">
<div class='alert'></div>
	<h1>New post</h1>

	<%= render 'form' %>
	<button type="button" class="btn btn-default btn-send-post"><a href="/users/<%=@user.id%>" >Save Post</a></button>
	<br>
	<br>

	<% if flash[:error]%>
	<%= flash[:error]%>
	<% end %>
</div>


<div style = 'margin-left: 10px;' class="col-md-12 categories text-center">
	<% @categories.each do |category| %>

	<%= button_tag(category.name, data: {add: category.name}, :class=> 'btn-category not-added')%>
<% end %>

</div>
</div>
