<script type="text/javascript">
	var post_id = <%= raw @post.id %>;
</script>

<div class="col-md-2">
<div style="padding-top: 100px;">
	
	
	
	<%if @revisions && current_user %>
			<button class="btn btn-primary" type="button">
			  Revisions <span class="badge"><%=number_of_revisions_per_post(@post)%></span>
			</button>
			<br>
			<br>
			
			<% @revisions.each do |revision|%>
				<em><%= link_to('by ' +  (User.find_by(id: revision.request.editor_id)).username, revision_path(revision.id)) %></em>
				<br>
			<% end %>

			<% elsif !@revisions && current_user%>
				<h4 style="color:#B72020"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> There are no revisions for this post</h4>
		<% else %>
		<h4 style="color:#B72020">You have to be logged in to read the revisions</h4>
		
	<% end %>
</div>
</div>


<div class="col-md-8 content" style="word-wrap: break-word; margin-bottom: 100px;">
<h1><%= @post.title%></h1>
<p class="date"><%= time_ago_in_words(@post.created_at)%> ago by <em><%= link_to(User.find(@post.user_id).username, user_posts_path(@post.user_id))%></em></p>



<div class="main-content"><%= simple_format(@post.content) %></div class="content">

<% if current_user %>

	<button class="btn btn-primary col-md-3 comment-mode">Comments mode</button>
	<br>
	<br>

	<% if @user.id == current_user.id%>
		<div class="buttons-white-font">
			<button class="btn btn-warning col-md-3"><%= link_to("Edit this post", edit_user_post_path) %></button>
			<br>
			<br>
	
	<button class="btn btn-danger col-md-3"><%= link_to("Delete this post", user_post_path(@user, @post), method: :delete, data: { confirm: "Are you sure you want to delete this post?"}) %></button>
	<br>
	<br>
	</div>
	<% end %>
<% end %>




<%if current_user && (@no_request_found || !@request_pending)%>

<!-- AFTER THE REQUEST HAS BEEN ACCEPTED THE SEND REQUEST BUTTON KEEP APPEARING,
CREATED !@if_request_accepted CONDITION TO FIX THAT-->
<% if !@if_request_accepted %>
	<%if (params[:user_id]).to_i != current_user.id %>
		<%= form_for @request, url: '/requests' do |f| %>
			<%= f.hidden_field :post_id, :value => @post.id %>
			<%= f.hidden_field :editor_id, :value => current_user.id %>
			<%= f.hidden_field :author_id, :value => @user.id %>
			<%= f.submit "Send a request to edit", :class=> "btn btn-success col-md-4"%>
		<% end %>
	<% end %>
	<% end %>
<% end %>


<%if current_user && @if_request_accepted %>
	<% if !check_if_revision_written(@request_accepted)%>


		<%if (params[:user_id]).to_i != current_user.id %>

			<%= form_tag('/revisions', method: 'post') do %>
				<%= hidden_field_tag :request_id, @request_accepted[0].id %>
				<%= submit_tag "Write a revision of the post", :class=> "btn btn-success col-md-4"%>
			<% end %>
		<% end %>
	<% end %>
<% end %>

</div>

<div class="col-md-2 comments">
	<div class="super">
		<div class="comment">


			<!-- <form class="form-group-comment hide">
			  <textarea style="height:150px;" class="form-control" id="comment"></textarea>
			  <button  class="btn btn-success col-md-12" type="submit">Save Comment</button>
			</form> -->

			<%= form_for @comment, url: comments_path, html: { class:'form-group-comment hide'} do |f| %>
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<%= f.hidden_field :post_id, :value => @post.id %>
			<%= f.hidden_field :username, :value => current_user.username %>
			<%= f.text_area :content, :cols => 25, :rows => 10%>
			<%= f.submit 'Save comments', :class => "btn btn-success col-md-8" %>
			<% end %>

			<ul class="list-group">
			</ul>
			
		</div>
	</div>
</div>