<div class="main-container">
<div class="img-index">
<div class="page-header">
  <h1>Welcome in Commuty</h1>
</div>

</div>
	<div class="col-md-8">

		<div class="page-header">
		  <h1>Last Posts</h1>
		</div>
		

		<div>

			<% @posts.each do |post| %>

				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title"><%= link_to(post.title, user_post_path(post.user_id, post.id)) %></h3><%=show_req_rev_status(post.id, current_user) if current_user%>
					</div>

					<div class="panel-body">
						<p>written by <%= link_to(User.find_by(id: post.user_id).username, user_posts_path(post.user_id))%></p>
						<p> created at <%= post.created_at.strftime('%d %B %Y') %></p>
						<p><%=show_text_preview(post.content)%></p>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>